@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family:"Open Sans", Arial;
}

.navbar-collapse {
	margin-right:20px;
}

/*Dog Walker Dashboard*/

.dog-map iframe {
	width:100%;
	border:none;
}

.dashboard-header {
	font-size:1.7em;
	color:#999;
}

.dog-appt {
	padding:10px;
	overflow:hidden;
	overflow-y:scroll;
}

.dashboard-modbox {
	background-color:#FFF;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	padding:10px;
	margin-top:10px;
	transition:all 0.3s linear;
	overflow:hidden;
}

.dashboard-modbox:hover {
	background-color:#DDD;
	transition:all 0.3s linear;
	cursor:pointer;
}

.dashboard-appointments {
	margin-top:20px;
}

.dashboard-modbox-title {
	font-weight:bold;
	font-size:1.2em;
}

.dashboard-modbox-description {
	margin-top:5px;
}

.dog-sizes-list {
	list-style-type:none;
	padding:0;
}

.dog-sizes-list li {
	display:inline-block;
	margin-left:10px;
	padding-bottom:5px;
}

.dog-sizes-list li.active {
	border-bottom:#900 3px solid;
}

.dog-sizes-list li img {
	vertical-align:bottom;
}

.dashboard-proposal-box {
	padding:10px;
	margin-top:-5px;
	background-color:#FFF;
	height:200px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	display:none;
	overflow:hidden;
}

.dashboard-proposal-textarea {
	min-height:120px;
}

/*Signup Page*/

.signup-header {
	font-size:1.4em;
	font-weight:bold;
	text-align:center;
}

.signup-container {
	width:90%;
	max-width:515px;
	background-color:#FFF;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.signup-field-headers {
	font-size:1.1em;
	font-weight:bold;
	margin-top:20px;
}

.signup-background {
	background:url(../img/signup-background.jpg) no-repeat;
	background-size:cover;
}

.signup-dogsize li:hover {
	border-bottom:#900 3px solid;
	cursor:pointer;
}

.signup-type-image {
	text-align:center;
}

.signup-type-image img {
	width:400px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}

.signup-type-image img:hover {
	width:450px;
	cursor:pointer;
}

