<body class="signup-background">

<nav class="navbar navbar-default no-rad">
	<div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        	<span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RoamingRover</a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-main">
    	<ul class="nav navbar-nav navbar-right">
        	<li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                	<li><a href="/login">Login</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
	<div class="signup-container">
        <%= form_tag do %>
        <div class="signup-header">
            Complete Your Account
        </div>
        <div class="margin-top-10 txt-center">
        	<img src="/assets/avatar.png" class="img-circle" width="100px" />
        </div>
        <div class="signup-field-headers">
        	Your Address
        </div>
        <div class="margin-top-10">
        	<input name="address" class="form-control" type="text" placeholder="Address" />
        </div>
        <div class="signup-field-headers">
        	Phone Number
        </div>
        <div class="margin-top-10">
        	<input name="phone_number" class="form-control" type="tel" placeholder="Phone Number" />
        </div>
        <div class="signup-field-headers">
        	Your Dog's Size
        </div>
        <div class="margin-top-10">
        	<ul class="dog-sizes-list signup-dogsize">
            	<li><img data-size="1" src="/assets/dogs/dog-icon.png" width="30px" /></li>
                <li><img data-size="2" src="/assets/dogs/dog-icon.png" width="40px" /></li>
                <li><img data-size="3" src="/assets/dogs/dog-icon.png" width="50px" /></li>
                <li><img data-size="4" src="/assets/dogs/dog-icon.png" width="60px" /></li>
            </ul>
        </div>
        <div class="signup-field-headers">
        	Your Availability
        </div>
        <div class="margin-top-10">
        	<input name="avail" class="form-control" type="text" placeholder="General Availability" />
        </div>
        <div class="margin-top-20 txt-center">
        	<button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
        <input type="hidden" id="dog-size" name="dogsize" value="" />
        <% end %>
    </div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
