<body class="signup-background">

<nav class="navbar navbar-default no-rad">
	<div class="navbar-header">
    	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
        	<span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">RoamingRover</a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbar-main">
    	<ul class="nav navbar-nav navbar-right">
        	<li class="dropdown">
            	<a href="#" class="dropdown-toggle" data-toggle="dropdown">Arun Sood <i class="fa fa-caret-down"></i></a>
                <ul class="dropdown-menu">
                	<li><a href="#">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
	<div class="signup-container">
        <%= form_tag do %>
        <div class="signup-header">
            Create Your Account
        </div>
        <div class="margin-top-10 txt-center">
        	<img src="/assets/avatar.png" class="img-circle" width="100px" />
        </div>
        <div class="signup-field-headers">
        	First Name
        </div>
        <div class="margin-top-10">
        	<input name="first_name" class="form-control" type="text" placeholder="First Name" />
        </div>
        <div class="signup-field-headers">
        	Last Name
        </div>
        <div class="margin-top-10">
        	<input name="last_name" class="form-control" type="text" placeholder="Last Name" />
        </div>
        <div class="signup-field-headers">
        	Email Address
        </div>
        <div class="margin-top-10">
        	<input name="email_address" class="form-control" type="text" placeholder="Email Address" />
        </div>
        <div class="signup-field-headers">
        	Zip Code
        </div>
        <div class="margin-top-10">
        	<input name="zip_code" class="form-control" type="text" placeholder="Zip Code" />
        </div>
        <div class="signup-field-headers">
        	Password
        </div>
        <div class="margin-top-10">
        	<input name="password" class="form-control" type="password" placeholder="Password" />
        </div>
        <div class="margin-top-20 txt-center">
        	<button href="#" class="btn btn-primary" type="submit">Sign Up</button>
        </div>
        <% end %>
    </div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
