<!DOCTYPE html>
<html lang="en">
<head>
  <title>Roaming Rover: Walking Pooches!</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"></meta>
  <link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css"></link>

  <style type="text/css">
    .masthead {
	  text-align: center;	
	}
    div.jumbotron {
      position: relative;
	  margin: 60px 0;
	  text-align: center;
      background: url("http://i.stack.imgur.com/daU8B.jpg");
	 }
     body {
	  padding-top: 20px;
	  padding-bottom: 40px;	 
	 }
	 .container-narrow {
	   margin: 0 auto;
	   max-width: 1000px; 
	 }
	 .container-narrow > hr {
	   margin: 30px 0; 
	 }
	 .jumbotron h1 {
	   font-size: 72px;
	   line-height: 1; 
	 }
	 .jumbotron .btn {
	   font-size: 21px;
	   padding: 14px 24px; 
	 }
	 .marketing {
	   margin: 60px 0; 
	 }
	 .marketing p + h4 {
	   margin-top: 28px; 
	 }
  </style>
  <link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css"></link>
</head>
<body>
<div class="container">
<div class="row-fluid">
  <div class="span4">
  <h3>Roaming Rover</h3>
  </div>
  <div class="span3 offset5">
    <div id="mainNav"
      <ul class="nav nav-pills pulls right">
        <li class="active">
        <a href="#">Home</a>   
        </li>
        <li>
        <a href="#about">About</a>
        </li>
        <li>
        <a href="#contact">Contact</a>
        </li>
      </ul>
     </div>
  </div> <!-- span3 offset5 -->
  <div class="span3 offset5">
  <p>facebook</p>
  </div>
  </div>
</div>
<div class="container">
<hr></hr>
  <div class="jumbotron">
    <div class="container-narrow">
      <h2>Exercise for dogs!</h2>
      <p>Finding a dog walker has never been easier!</p>
      <p>
        <!-- do something about this get started button -->
        <a class="btn btn-primary btn-lg" data-target="#" data-toggle="#" role="button">Get walking!</a>
      </p>
    </div> <!-- container for jumbotron -->
  </div> <!-- jumbotron -->
  <hr></hr>
  <div class="row-fluid marketing">
    <div class="span6">
      <h4>Dog Walkers: Get jobs easier!</h4>
      <p>
      Are you all ready for this up in here? This is what happens when some tech people decide they like dogs and want somebody else to pick up their poo--that's right, now it's super easy for dog walkers to find dogs to walk. The breeds they want, the locations they want to walk around, and the rates that they want to be paid are all just a few clicks away.
      </p>
    </div>
    <div class="span6">
      <h4>Dog Lovers: Get that pooch in shape!</h4>
      <p>
      Hey, it's tough to find time in your busy life to take that adorable furry thing out for a walk. Sometimes it's too cold to go out, sometimes you just don't have the energy. That's what we do--Roaming Rover connects you with the the best dog walkers for your breed and in your area. They can be ready at a moments notice so your pooch never gets to be a couch potato again!
      </p>
    </div>
  </div> <!-- row-fluid marketing -->
</div> <!-- container-narrow first in body -->
</body>
</html>
